//301 Redirect Old File
Redirect 301 /BSITlogo.html https://google.com

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes
