.about li {
  padding: 0.25rem;
}

.about {
  display: flex;
  flex-direction: column;
}

.about section {
  background: var(--card-background);
  color: var(--font-color);
  border-right: var(--box-border-right);
  border-bottom: var(--box-border-bottom);
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.about h2 {
  color: var(--h2-color);
  grid-column: 1/ -1;
  text-align: center;
  font-size: 4rem;
  text-shadow: var(--h2-text-shadow);
}

.about h3 {
  color: var(--h3-color);
  font-size: 3rem;
  grid-column: 1 /-1;
  grid-row: 1/2;
  text-align: center;
}

.about-purpose {
  background: var(--card-background);
  color: var(--font-color);
  border-right: var(--box-border-right);
  border-bottom: var(--box-border-bottom);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
}

.about-purpose a {
  color: var(--link-color);
}

.about-purpose ul {
  list-style: none;
}

.about-purpose ul li::before {
  content: "\2022";
  color: var(--bullet-color);
  font-weight: 500;
  font-size: 3rem;
  display: inline-block;
  width: 2rem;
  margin-left: 0.5rem;
}

.about-officers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.about-officers.--officer {
  display: grid;
  background: var(--officer-card-background);
  color: var(--font-color);
  grid-template-rows: 1fr 4fr 1fr;
  /* border-right: 1px solid #fff;
  border-bottom: 4px solid #fff; */
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow);
  margin: 2rem 0;
  width: 30rem;
}

.about-officers.--officer a {
  color: var(--link-color);
}

.about-officers.--officer a:hover {
  text-decoration: underline;
}

.about-officers.--officer p {
  color: var(--font-color);
  font-size: 1.2rem;
  grid-row: -1/-2;
  text-align: center;
}

.about-officers img {
  padding: 5px;
  border: 1px solid #000;
  margin-bottom: 3rem;
  max-width: 50%;
  grid-row: 2/3;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}
