.about li {
  padding: 0.25rem;
}

.about {
  display: flex;
  flex-direction: column;
}

.about section {
  background: var(--card-background);
  color: var(--font-color);
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.about h2 {
  color: var(--h2-color);
  grid-column: 1/ -1;
  text-align: center;
  font-size: 4rem;
}

.about-purpose {
  color: var(--font-color);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
}

.about-purpose a {
  color: var(--link-color);
}

.about-purpose ul {
  list-style: none;
}

.about-purpose ul li ul {
  margin-left: 3rem;
}

.about-purpose ul li::before {
  content: '\2022';
  color: var(--bullet-color);
  font-weight: 500;
  font-size: 3rem;
  display: inline-block;
  width: 2rem;
  margin-left: 0.5rem;
}

.about-officers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
}

.about-officers.--officer {
  display: grid;
  margin: 2rem 0;
  width: 30rem;
}
