.coc {
  padding: 1rem 10rem;
  overflow: visible;
}

.coc h2 {
  color: var(--h2-color);
  text-align: center;
  font-size: 4rem;
}

.coc h3 {
  color: var(--h3-color);
  font-size: 3rem;
  text-align: center;
}

.coc p {
  font-size: 2rem;
}

.coc ul {
  margin-left: 1rem;
  list-style: none;
  font-size: 2rem;
}

.coc li > ul {
  margin-left: 2rem;
}

.coc ul li::before {
  content: '\2022';
  color: var(--bullet-color);
  font-weight: 500;
  font-size: 3rem;
  display: inline-block;
  width: 2rem;
  margin-left: 0.5rem;
}

@media (max-width: 850px) {
  .coc {
    padding: 0.25rem;
  }
}
