:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --overlay: #224f9999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.card {
  width: 400px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--overlay);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 2rem;
  transform: translateY(15rem) var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: translateY(-15rem) var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.75rem;
  font-weight: 500;
  opacity: 0.8;
}

.card__body {
  transform: var(--level-two);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
}

.card__back {
  transform: rotateY(0.5turn);
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  background: #224f99;
}

.card__back a {
  color: #fff;
}

.card__back a:hover {
  text-decoration: underline;
}
