.home {
  font-size: 1.6rem;
}

.hero {
  background: var(--hero-background-color);
  color: var(--hero-font-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
}

.home h2 {
  color: var(--h2-color);
  text-align: center;
  font-size: 7rem;
  text-shadow: var(--h2-text-shadow);
}

.home img {
  max-width: 30%;
  max-height: 30%;
}

.home h3 {
  color: var(--h3-color);
  font-size: 3rem;
  text-align: center;
}

.home p {
  font-size: 2rem;
}
