.home {
  background: var(--card-background);
  color: var(--font-color);
  font-size: 1.6rem;
  border-right: var(--box-border-right);
  border-bottom: var(--box-border-bottom);
  border-radius: 1.5rem;
}

.home h2 {
  color: var(--h2-color);
  grid-column: 1/ -1;
  text-align: center;
  font-size: 4rem;
  text-shadow: var(--h2-text-shadow);
}

.home h3 {
  color: var(--h3-color);
  font-size: 3rem;
  grid-column: 1 /-1;
  grid-row: 1/2;
  text-align: center;
}

.home p {
  font-size: 2rem;
}
