header {
  background-color: var(--header-background);
  color: var(--header-font-color);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-around;
}

header li {
  display: inline-block;
  padding: 2rem 1.5rem;
}

header a {
  color: var(--header-font-color);
  font-weight: 500;
}

header a:hover {
  text-decoration: underline;
  font-weight: 900;
}
