header {
  background-color: #091534;
  color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-around;
}

header li {
  display: inline-block;
  padding: 2rem 1.5rem;
}

header li:hover {
  background-color: #3e5185;
}

header a {
  color: #fff;
  font-weight: 900;
}
