/* *** Primary Palette *** */
$kuBlue: #1c53b3;
$crimson: #d12c22;
$jayhawk-yellow: #ffc82d;

/* *** Variables *** */
$background: #fff;
$officer-card-background: #dadada;
$officer-card-font-color: #000;
$nav-header-background: $kuBlue;
$nav-header-font-color: #fff;
$nav-header-a-hover-color: $jayhawk-yellow;
$nav-header-li-hover-background-color: $kuBlue;
$nav-header-li-hover-font-color: #000;
$footer-background: #003459;
$footer-font-color: #fff;
$font-color: #000;
$h1-color: #000;
$h2-color: $kuBlue;
$h3-color: $crimson;
$bullet-color: $crimson;
$nav-header-li-hover-border: 6px solid $crimson;
$link-color: #000;
$h2-border-bottom: 3px solid #000;
$hero-background-color: none;
$hero-font-color: #000;
