footer {
  grid-row: -2 / -1;
  background-color: var(--footer-background);
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

footer a,
footer small {
  color: var(--footer-font-color);
}

@media (max-width: 850px) {
  footer {
    display: none;
  }
}