:root {
  /* *** Primary Palette *** */
  --ku-blue: #1c53b3;
  --crimson: #d12c22;
  --jayhawk-yellow: #ffc82d;

  /* *** Variables *** */
  --background: #fff;
  --officer-card-background: #dadada;
  --officer-card-font-color: #000;
  --nav-header-background: #1c53b3;
  --nav-header-font-color: #fff;
  --nav-header-a-hover-color: var(--jayhawk-yellow);
  --nav-header-li-hover-background-color: #1c53b3;
  --nav-header-li-hover-font-color: #000;
  --footer-background: #003459;
  --footer-font-color: #fff;
  --font-color: #000;
  --h1-color: #000;
  --h2-color: #1c53b3;
  --h3-color: #d12c22;
  --bullet-color: #d12c22;
  --nav-header-li-hover-border: 6px solid #d12c22;
  --link-color: #000;
  --h2-border-bottom: 3px solid #000;
  --hero-background-color: none;
  --hero-font-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  line-height: 1.6;
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  border-bottom: 3px solid black;
}
a {
  color: var(link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: 900;
  color: var(--jayhawk-yellow);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6rem 100% 6rem;
  grid-template-columns: 100%;
}

main {
  grid-column: 1 / -1;
  grid-row: 2 / -2;
  margin: 1rem 0;
  padding: 1.5rem;
  font-size: 1.8rem;
  max-width: 100vw;
  min-height: 90vh;
}

@media (max-width: 850px) {
  main{
    grid-row: 1 / 2;
  }

  .container {
    grid-template-rows: 100% 1fr;
  }
}