:root {
  --background: #f9f9f9;
  --card-background: #0051ba;
  --officer-card-background: #f9f9f9;
  --officer-card-font-color: #000;
  --header-background: #85898a;
  --header-font-color: #000;
  --footer-background: #000;
  --footer-font-color: #fff;
  --font-color: #fff;
  --h1-color: #000;
  --h2-color: #fff;
  --h3-color: #e8000d;
  --bullet-color: #e8000d;
  --link-color: #000;
  --h2-text-shadow: 2px 1px #000;
  --h3-text-shadow: 2px 1px #000;
  --box-shadow: 5px 5px 1px #000;
  --box-border-right: 2px solid #000;
  --box-border-bottom: 5px solid #000;
  --h2-border-bottom: 3px solid #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  line-height: 1.6;
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 5rem 1fr 6rem;
}

main {
  margin: 2rem 10rem;
  padding: 2rem;
  font-size: 1.8rem;
  max-width: 100vw;
}

h2 {
  border-bottom: var(--h2-border-bottom);
}

h3 {
  text-shadow: var(--h3-text-shadow);
}
