.sponsors {
  display: flex;
  flex-direction: column;
}

.sponsors-section {
  color: var(--font-color);
  padding: 1rem 2rem;
}

.sponsors h2 {
  color: var(--h2-color);
  text-align: center;
  font-size: 4rem;
}

.sponsors h3 {
  color: var(--h3-color);
  font-size: 3rem;
  text-align: center;
}

.sponsors.--currently-looking {
  font-size: 3rem;
  color: var(--font-color);
  font-weight: bold;
}

.sponsors-officers.--edwards,
.sponsors-officers.--lawrence {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.sponsors-officers.--officer a {
  color: var(--officer-card-font-color);
}

.sponsors-officers.--officer a:hover {
  text-decoration: underline;
}

.sponsors-officers.--officer {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  margin: 2rem 0;
  width: 30rem;
}

.sponsors-officers.--officer p {
  grid-row: -1/-2;
  text-align: center;
}

.sponsors-officers img {
  padding: 5px;
  border: 1px solid #000;
  margin-bottom: 3rem;
  max-width: 50%;
  grid-row: 2/3;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}
